<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="edit-main">
        <div class="form-container">
            <div class="form">
                <h1 class="createProductTitle">Editar Producto</h1>
                <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-container">
                        <div class="containers">
                        <label for="name">Nombre del producto</label>
                        <input class="input" type="text" name="name" id="name">
                        <label for="category">Categorias</label>
                        <select id="category" class="select input" name="category">
                            <option value="------">Seleccionar Categoria</option>
                            <option value="Remeras">Remeras</option>
                            <option value="Buzos">Buzos</option>
                            <option value="Zapatillas">Zapatillas</option>
                            <option value="Pantalones">Pantalones</option>
                            <option value="Medias">Medias</option>
                            <option value="Accesorios">Accesorios</option>
                        </select>
                        
                        <label for="admin">Color del producto</label>
                        <select id="admin" class="select input" name="color">
                            <option value="------">Seleccionar Color</option>
                            <option value="Rojo">Rojo</option>
                            <option value="Azul">Azul</option>
                            <option value="Negro">Negro</option>
                            <option value="Verde">Verde</option>
                            <option value="Violeta">Violeta</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Amarillo">Amarillo</option>
                        </select>
                        <label for="talle">Talle</label>
                        <select id="talle" class="select input">
                            <option value="------">Seleccionar Talle</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>                            
                        </select>
                        <label for="image">Agregar Imagen</label>
                        <input class="input" type="file" name="image" accept="jpg">
                        <label for="description">Descripcion</label>
                        <textarea name="description" id="description" cols="30" rows="10"></textarea>
                        <label for="precio">Precio</label>
                        <input type="number" id="precio" placeholder="Precio" class="input" name="precio">
                        <label for="discount">Descuento</label>
                        <input type="number" class="input" id="dicount" name="discount">
                        </div>
                        <div class="editButtons">
                            <button type="submit" class="button button-submit">Hecho</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        
    </main>
    
    <%- include('../partials/footer.ejs')  %> 

</body>
</html>