<!DOCTYPE html>
<html lang="es">
    <% include('../partials/head') %> 
<body>
    <% include('../partials/headerAdmin') %> 
    <main class="edit-main">
        <h3>Agregar Producto</h3>
        <div class="form-edit">
            <form action="">
            <div>
                <label for="name-admin">Nombre del producto</label>
                <input class="input" type="text" name="name" id="name-admin">
                <label for="admin-category">Categorias</label>
                <select id="admin-category" class="select">
                    <option value="------">Categoria</option>
                    <option value="------">Categoria</option>
                    <option value="------">Categoria</option>
                    <option value="------">Categoria</option>
                    <option value="------">Categoria</option>
                    <option value="------">Categoria</option>
                    <option value="------">Categoria</option>
                </select>
                <label for="color-admin">Color del producto</label>
                <input class="input" type="text" name="color" id="color-admin">
                <label for="product-image">Agregar Imagen</label>
                <input class="input" type="file" name="product-image" accept="jpg">
                <label for="admin-description">Descripcion</label>
                <textarea name="description" id="admin-description" cols="30" rows="10"></textarea>
            </div>
            </form> 
        </div>
        <div class="box-button">
            <button type="submit">Agregar producto</button>
        </div>
    </main>
    
</body>
</html>