main.adminIndex-main {
    background-color: rgb(145, 143, 143);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 86px;
}

.adminOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 40px;
    margin: 20px auto
}

.adminOptions .option {
    width: 100%;
    height: 240px;
    text-align: center;
    font-size: 100px;
    border: solid 1px lightgray;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.adminOptions .option-title {
    font-size: 20px;
    display: inline-block;
}

.adminOptions .optionLink {
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
    flex-grow: .3;
}