/* Carrito de compras */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}






 /* IMAGENES */

 .cart-main {
     padding-bottom: 400px;
     margin: 0 auto;
 }

 .product-container {
     background-color: gray;
 }

 .product-container img {
    width: 110px;
    padding-left: 10px;
    padding-top: 25px;
 }

 .product-container h2 {
    padding-left: 7%;
    font-size: 14px;
    padding-top: 20px;
    display: inline-block;
    vertical-align: top
 }

 section nav h1{
    display: inline-flex;
    padding: 25px;
    font-size: 18px;
    padding-left: 15%;
 }

 .contador {
   padding-left: 50%;
   position: absolute;
    margin-top: -3rem;
 }
 
section div input {
     text-align: center;
     border-radius: 7px;
     background-color: #e2e2e2;
 }

 .product-container h3 {
   
    position: absolute;
    margin-left: 82%;
    margin-top: -65px;
 }

 .boton-compra {
     width: 110px;
     height: 35px;
     background-color: #720d0dee;
     border-radius: 20px;
     margin-left: 15px;
     margin-top: 30px;
     text-align: center;
 }

 body div.boton-compra p {
   /*  position: absolute; */
    top: 200%;
    margin-left: 2px;
    font-size: larger;
    font-family: sans-serif;
    color: #ffff;
    line-height: 34px;
 }

body div.total {
    position: absolute;
    margin-left: 83%;
    margin-top: -34px;
}


body div.total p{
    text-align: center;
}


.linea {
    width: 100%;
    color: #e2e2e2e2;
    opacity: 30%;
}

nav hr.linea-sup {
    height: 2px;
    width: 100%;
    background: linear-gradient(
    58deg, black, transparent);
    margin-top: -25px;
}