/* Carrito de compras */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cart-main {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
    
}

.cart-title {
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

.cart-main div.cart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    height: 100%;
    flex-grow: 4;
}

.cart-items-container {
 width: 100%;
}

.cart-main div.cart-container .cart-item {
    width: 95%;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(233, 232, 232);
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
}

.product-image-container {
    margin: 0px 5px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.product-title {
    width: 30vw;
    text-align: left;
}

.product-title h3 {
    font-size: 12px;
}

.price-manage {
    height: 90%;
    border-radius: 10px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    margin: 0 2px;
}

.price-buttons {
    padding: 2px;
    border: solid black 2px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    background-color: #ffffff;
}

.fa-minus-circle{
    background-color: rgb(199, 21, 21);
    border-radius: 50%;
    cursor: pointer;
}

.fa-plus-circle{
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
}

button.delete-product {
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(36, 36, 36);
    border: solid black 1px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

button.delete-product:active {
    transform: translateY(.5px);
}

.product-price {
    font-weight: 600;
}

.product-total {
    font-weight: 600;
}

.cart-main .cart-options {
    width: 95%;
    height: 120px;
    background-color: rgb(233, 232, 232);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.promo-code{
    width: 100%;
    height: 50%;
    display: flex;

}

.cart-options .promo-code input {
    width: 50%;
    border: solid 2px black;
    height: 100%;
    border-radius: 10px;
}

.enviar-codigo-boton {
    width: 50%;
    border: solid 2px black;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    color: white;
    cursor: pointer;
}

.total-amount {
    margin: 15px;
    font-size: 26px;
}


.purchase-options {
    width: 100%;
    height: 50%;
    display: flex;
    cursor: pointer;
}

.purchase-button {
    width: 50%;
    border: solid 2px black;
    height: 100%;
    border-radius: 10px;
    background-color: green;
    cursor: pointer;
}

.delete-all-button {
    width: 50%;
    border: solid 2px black;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(199, 21, 21);
    cursor: pointer;
}


@media (min-width: 425px){
    .product-image-container {
        width: 140px;
        height: 140px;
    }

    .product-title h3{
        font-size: 14px;
    }

    .price-buttons {
        font-size: 24px;
    }

    .product-price {
        font-size: 20px;
        font-weight: 400;
    }

    .product-total {
        font-size: 20px;
        font-weight: normal;
    }
}

@media (min-width: 768px){

    .product-title h3{
        font-size: 18px;
    }

}
 

@media (min-width: 1440px) {
    .cart-main {
        width: 80%;
    }

    .price-buttons {
        font-size: 26px;
    }

    .product-price {
        font-size: 26px;
        font-weight: 400;
    }

    .product-total {
        font-size: 26px;
        font-weight: normal;
    }

    button.delete-product {
        padding: 7px;
        font-size: 18px;
    }
}
