* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-price-detail {
    font-size: 24px;
}

.product-discount-detail {
    font-size: 24px;
    color: green;
}

.ruta {
    width: 100%;
    padding: 20px;
    background-color: rgb(138, 138, 138);
}

.ruta ul {
    display: inline-block;
}

.ruta ul li {
display: inline-block;
}

.ruta ul li a {
    color: black;
    text-decoration: underline;
}

.card {
    width: 90%;
    border: solid 2px black;
    background-color: #fff;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

.card hr {
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.photo-1 {
    width: 100%;
    box-shadow: 5px 5px 10px rgb(100, 100, 100);
    border-radius: 10px;
}

.photos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.photos img {
    width: 22%;
    box-shadow: 5px 5px 10px rgb(100, 100, 100);
    border-radius: 10px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 20px auto;
}

.product-name {
    font-size: 26px;
    font-weight: 600;
}

.stock {
    color: green;
    flex-grow: 0.3;
}

.stars {
    
    color: rgba(245, 163, 10, 0.8);
}

small {
    font-size: 14px;
}

.fa-star {
    font-size: 14wpx;
}

.precio-producto {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 100%;
}



.input-select{
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    cursor: pointer;
}

.talle {
    margin: 10px auto;
}

.cantidad {
    margin: 10px auto;
}

.opciones-compra {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.opciones-compra button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
}


button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.opciones-compra button:nth-child(1) {
    margin-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(216, 64, 64);
    border: solid 2px black;
}


.opciones-compra button:nth-child(2) {
    margin-left: 15px;
    background-color: black;
    border: solid 2px rgb(129, 129, 129);
    color: white;
}

.descripcion {
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
    width: 100%;
    
}

.titulo-descripcion {
    margin: 15px auto;
    font-size: 20px;
}

.texto-descripcion {
    margin: 15px auto;
    line-height: 22px;
}

.product-manage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-manage button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
}

.product-manage button:nth-child(1) {
    margin-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 119, 14);
    border: solid 2px black;
}


.product-manage button:nth-child(2) {
    margin-left: 15px;
    background-color: rgb(209, 105, 8);
    border: solid 2px rgb(129, 129, 129);
    color: white;
}




@media (min-width: 768px) {

    .body {
        background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .card {
        padding: 20px;
        width: 70%;
        border: solid black 1px;
        border-radius: 5px;
    }

    .titulo-descripcion {
        margin: 15px auto;
        font-size: 24px;
        font-weight: bold;
    }
    
    .texto-descripcion {
        margin: 15px auto;
        line-height: 22px;
    }

    
}

@media (min-width: 1024px) {

    .card {
        width: 70%;
    }
    .stock {
        font-size: 20px;
    }

    .stars {
        font-size: 20px;
    }

    .precio-producto h2 {
        font-size: 30px;
    }

    label.talle {
        font-size: 20px;
    }

    label.cantidad {
        font-size: 20px;
    }

    .input-select {
        font-size: 20px;
    }

    .titulo-descripcion {
        margin: 15px auto;
        font-size: 30px;
        font-weight: bold;
    }

    
    
    .texto-descripcion {
        margin: 15px auto;
        line-height: 34px;
        font-size: 22px;
    }

    .opciones-compra button {
        width: 200px;
        padding: 20px;
    }

    img.photo-1 {
        -webkit-transition:all .9s ease; 
        -moz-transition:all .9s ease; 
        -o-transition:all .9s ease; 
        -ms-transition:all .9s ease;
        cursor: pointer;
        
    }

    

    .photos img {
        -webkit-transition:all .9s ease; 
        -moz-transition:all .9s ease; 
        -o-transition:all .9s ease; 
        -ms-transition:all .9s ease;
        cursor: pointer;
    }

    

}

@media (min-width: 1440px) {

    
    
    .ruta {
        font-size: 22px;
    }
    
    .card {
        width: 40%;
    }
    
    .photo-1 {
        width: 80%;
        
    }
    
    
    .product-name {
        font-size: 38px;
    }
    
    .product-info {
        font-size: 20px;
    }
    
    .product-info small {
        font-size: 20px;
    }
    
    .precio-producto {
        font-size: 30px;
    }

    .input-select {
        padding: 15px 0;
        font-size: 20px;
    }

    .opciones-compra button {
        padding: 15px 0;
        font-size: 20px;
    }

    .product-manage button {
        padding: 15px 0;
        font-size: 20px;
    }

    
    
    
    .input-container label {
        font-size: 20px;
    }
    
    .texto-descripcion {
        font-size: 22px;
        line-height: 32px;
        padding: 20px;
    }
    
}