/* Header */

main {
    padding-top: 71px;
}

header {
    z-index: 999999;
}

.session {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #00d900;
    border-radius: 50px;
    position: relative;
    top: -34px;
    margin-left: -110px;
    padding: 4px;
    transition: all 1s;
}

header.menu {
    height: 70px;
    background-color: #222222;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

.header-search-form {
    display: flex;
    align-items: center;
}

.header-search-button {
    margin-left: -30px;
    border: none;
    border-radius: 50%;
    padding: 5px;
    background-color: black;
    opacity: 100%;
    cursor: pointer;
}

.header-search-button i {
    background-color: none;
    color: white;
}

.header-search-button:active {
    box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.fa-shopping-cart {
    font-weight: 400;
}

.menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.logo-img {
    width: 70px;
    margin-top: -8px;
}

.menu-icon {
    font-size: 2.4em;
    color: white;
    line-height: 50px;
}

header nav {
    position: absolute;
    background-color: #3d3d3d;
    top: 70px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid black;
}

header nav ul {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav ul li {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: none;
}



header nav ul li a {
    display: inline-block;
    padding: 12px;
    color: lightgray;
    text-decoration: none;
    letter-spacing: 0.05em;
    transition: all 1s;
}

header nav ul li input {
    display: inline-block;
    padding: 8px;
    border-radius: 20px;
    border: solid 1px black;
    margin: 10px auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 0.05em;
}

header nav ul li input:focus {
    outline: none;
}

header nav ul li p {
    display: inline-block;
    margin-left: 5px;
}

header nav ul li a:hover, nav ul li a:focus {
    color: #ececec;
}

#checkbox {
    display: none;
}

#checkbox:checked ~ nav ul {
    max-height: 473px;
    padding: 15px;
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .logo-img {
        width: 100px;
        margin-top: -22px;
    }

    .menu-icon {
        font-size: 50px;
    }
}

@media (min-width: 1024px) {
    .menu-icon {
        display: none;
    }

    .session {
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #00d900;
        border-radius: 50px;
        position: relative;
        top: -10px;
        margin-left: -14px;
    }

    header nav {
        position: relative;
        top: -10px;
        background-color: transparent;
        border: none;
    }

    .menu {
        border-bottom: 2px solid black;
    }

    .header-search-button {
        margin-left: -25px;
        margin-top: -30px;

    }

    header nav ul {
        max-height: 70px;
        padding: 15px 0;
        text-align: right;
        flex-direction: row;
        font-size: 16px;
        justify-content: flex-end;
    }

    .search {
        padding: 5px;
        font-size: 14px;
    }

    .header-search-button {
        margin-top: 0px;
        padding: 4px;
    }

    header nav ul li .header-search-button i {
        font-size: 12px;
    }

    

    header nav ul li {
        display: inline-flex;
        padding: 5px;
    }

    header nav ul li i {
        color: lightgray;
        font-size: 20px;
        transition: all 1s;
    }

    header nav ul li i:hover,
    header nav ul li a:hover {
        color: #ffffff;
        transform: translateY(-4px);
        text-shadow:
        0px 0px 30px white
    }


    header nav ul li input {
        width: 150px;
    }

    header nav ul li p {
        display: none;
    }

}


@media (min-width: 1440px) { 

    header nav ul {
        max-height: 70px;
        padding: 15px 0;
        text-align: right;
        flex-direction: row;
        font-size: 16px;
        justify-content: flex-end;
    }

    header nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }

    .session {
        width: 8px;
        height: 8px;
    }

    header nav ul li i {
        color: lightgray;
        font-size: 24px;
    }

    header nav ul li input {
        width: 250px;
        
    }

    .search {
        font-size: 16px;
        padding: 8px;
    }

    .header-search-button {
        padding: 8px;
        font-size: 14px;
        margin-left: -30px;
        margin-bottom: 0px;
    }

}
