* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.register-main {
    padding-top: 150px;
    padding-bottom: 110px;
}

.register-body{ 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.register-container {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    /* width: 100%; */
    
    
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form  {
    border-radius: 10px;
    margin: 0 auto;
    height: fit-content;
    width: 100%;
    padding: 1.5rem;
    color: rgba(22, 22, 22, 0.884);
    background: #e2e2e2;  /* fallback for old browsers */
    
}

.register-body h2 {    
    text-align: center;
    margin-bottom: 1rem;

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container a {
    color: cornflowerblue;
    font-size: .8rem;
    text-decoration: none;
}

.register-body .register-main .register-container .form form .form-container .is-invalid {
    border: solid 2px red;
    background-color: rgb(248, 142, 142);
}

.register-body .register-main .register-container .form form .form-container .inputContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: -webkit-center;
}

.register-body .register-main .register-container .form form .form-container .fa-times-circle {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 19px;
    right: 7%;
    display: none;
}

.register-body .register-main .register-container .form form .form-container .is-valid {
    border: solid 2px green;
    background-color: rgb(110, 158, 110);
}

.register-body .register-main .register-container .form form .form-container .fa-eye {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 19px;
    right: 8%;
    display: block;
    transition: linear .3s;
}

.register-body .register-main .register-container .form form .form-container .fa-eye-slash {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 19px;
    right: 8%;
    display: block;
    transition: linear .3s;
}

.register-body .register-main .register-container .form form #termsErrors {
    color: red;
    background-color: rgb(250, 165, 165);
    padding: 10px;
    border-radius: 7px;
    display: none;
}

.register-body .register-main .register-container .form form .form-container #submitErrors {
    color: red;
    background-color: rgb(250, 165, 165);
    padding: 12px;
    border-radius: 10px;
    display: none;
    text-align: center;
}

.register-body .register-main .register-container .form form .form-container img {
    max-width: 100%;
    max-height: 100%;
}

.register-body .register-main .register-container .form form .form-container .fa-check-circle {
    color: darkgreen;
    font-size: 20px;
    position: absolute;
    top: 19px;
    right: 7%;
    display: none;
}

.register-body .register-main .register-container .form form .form-container .preview-container {
    border: dashed 4px gray ;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    max-width: 370px;
    max-height: 250px;
    margin: 20px auto;
}



/*FORM INPUT*/

.containers,
.button {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.containers {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

span.error-message {
    font-size: 14px;
    color: rgba(255, 0, 0, 0.781);
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}



.input {
    display: flex;
    flex-direction: column;
    margin: .5rem auto;
    width: 90%;
    background-color: #4b4b4b;
    color: rgb(245, 245, 245);
    border: solid 3px rgb(65, 65, 65);
}

input.input {
    
    border-radius: 1rem;
    height: 2.5rem;
    padding: .5rem;
    
}

input.input:focus {
    outline: none;
}

input.input::placeholder {
    color: lightgray;
}

.register-body label {
    font-size: 18px;
    
}

.register-body #avatar {
    display: none;
}

.register-body #avatarLabel {
    display: block;
    margin: 10px;
    border: solid 1px black;
    border-radius: 8px;
    padding: 8px;
    background-color: green;
    width: 90%;
}

.register-body #avatarLabel:active {
    transform: translateY(2px);
}

.form-container .terms a {
    font-size: 18px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 80%;
    flex-direction: row-reverse;
}

.check label {
    margin-right: 10px;
    position: relative;
    top: -1px;
    margin: 6px 9px auto;
}

/* BUTTONS */

.button {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    height: 2.5rem;
    margin: 15px auto;
    text-transform: uppercase;
    width: 8rem;
    font-weight: bold;
}

.button-submit {
    /* display: flex; */
    border-radius: 10rem;
    color: rgba(255, 255, 255, 0.856);
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 12px;
    padding: 20px;
}

@media screen and (min-width: 360px ){
    .input {
        width: 90%;
    }
    .form {
       width: 90%;
    }
    
}
@media screen and (min-width: 768px) {
    span.error-message {
        font-size: 16px;
    }

    .register-body label {
        font-size: 22px;
    }
}

@media screen and (min-width: 1024px){
    span.error-message {
        font-size: 14px;
    }
}

@media screen and (min-width: 1440px ){
    span.error-message {
        font-size: 16px;
    }
} 
