/* Carrito de compras */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #E80308;
    height: 50px;
}

header .logo img{
    width: 50px;
    height: 10%;
    margin: 0px;
    margin-left: 11px;
}


.logo {  
position: relative;
top: 0px;
}

.search-bar{
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    top: 15px;
    left: 40px;
}
.boton-buscar {
    margin-left: 280px;
    position: absolute;
    display: inline-block;
    top: 15px;
}



 /* IMAGENES */

 article img {
    width: 100px;
    padding-left: 10px;
    padding-top: 30px;
 }

 article h2 {
    padding-left: 7%;
    font-size: 14px;
    padding-top: 20px;
    display: inline-block;
    vertical-align: top
 }

 section nav h1{
    display: inline-flex;
    padding: 25px;
    font-size: 18px;
    padding-left: 15%;
 }

 .contador {
   padding-left: 10rem;
   position: absolute;
    margin-top: -3rem;
 }
 
div input {
     text-align: center;
 }

 article h3 {
   
    position: absolute;
    margin-left: 21rem;
    margin-top: -65px;
 }