<header class="adminHeader">
    <a href="/admin/" class="adminHeader-title">ADMIN PANEL</a>
    <form action="" class="adminHeader-form">
        <input type="search" class="adminHeader-input" placeholder="Search...">
        <button type="submit" class="adminHeader-search-button"><i class="far fa-search"></i></button>
    </form>
</header>