<header class="adminHeader">
    <a href="/admin/" class="adminHeader-title">ADMIN PANEL</a>
    <form action="" class="adminHeader-form">
        <input type="search" class="adminHeader-input" placeholder="Search...">
    </form>
</header>