<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-1">
            <h2>©2021 NoTanRaros</h2>
            <div>
                <a href="">Home | </a>
                <a href="">Productos | </a>
                <a href="">Series | </a>
                <a href="">Contacto</a>
            </div>
        </div>
        <div class="footer-2">
            <div class="footer2-title">
                <h2 class="footer2-h2">Nuestos Medios de Pago</h2>
            </div>
            <div class="footer2-icons">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
        </div>
        <div class="footer-3">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-reddit"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</footer>