<header class="menu">
    <div class="menu-wrap">
        
        <a href="/">
        <img src="/images/logo.png" alt="logo" class="logo-img">
        </a>
        <input type="checkbox" id="checkbox">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/series">Series</a></li>
                <li><a href="/contact">Contacto</a></li>
                <% if (typeof session.user != "undefined") { %>
                    <li><a href="/users/profile"><i class="far fa-user-circle"></i><p>Mi Perfil</p></a></li><span class="session"></span>
                    <li><a href="/products/cart"><i class="fas fa-shopping-cart"></i><p>Mis Compras</p></a></li>
                    <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i><p>Cerrar Sesión</p></a></li>
                    <% } else {%>
                        <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i><p>Iniciar Sesión</p></a></li>
                        <li><a href="/users/register"><i class="fas fa-user-plus"></i><p>Registrarse</p></a></li>
                        <% } %>
                        <% if (session.user && session.user.rol === "ROL_ADMIN") { %>
                            <li><a href="/products/create"><i class="fas fa-hand-holding-usd"></i><p>Vender</p></a></li>
                            <li><a href="/admin/"><i class="fas fa-users-crown"></i><p>ADMIN</p></a></li>
                <% } %>
                <li><form action="/products/search" method="GET" class="header-search-form">
                    <input type="search" class="search" id="search" name="keywords" placeholder="Buscar...">
                    <button type="submit" class="header-search-button"><i class="far fa-search"></i></button>
                </form></li>
            </ul>
        </nav>
        <label for="checkbox">
            <i class="fa fa-bars menu-icon"></i>
        </label>
    </div>
</header>
