<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/adminHeader') %>
    <main class="productsListMain">
        <hr>
        <h2 class="productsListTtitle">Productos</h2>
        <hr>
        <div class="productsListContainer">
            <section class="productListCard">
                
            </section>
        </div>
    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>