<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body>

    <%- include('../partials/header.ejs')  %>

    <main class="cart-main">

        <h1 class="cart-title">Tu Carrito</h1>

        <div class="cart-container">

            <div class="cart-items-container" id="carrito">

                

            </div>

            <h2 class="total-amount">TOTAL:</h2>

            <div class="cart-options">
                <div class="promo-code">
                    <input type="text" placeholder="Ingresa tu codigo" class="promo-code-input">
                    <button type="submit" class="enviar-codigo-boton">ENVIAR</button>
                </div>
                <div class="purchase-options">
                    <button class="purchase-button">COMPRAR</button>
                    <button class="delete-all-button" onclick="emptyCart()">BORRAR TODO</button>
                </div>
            </div>

        </div>
        
    </main>
    
    <%- include('../partials/footer.ejs')  %> 
    <script src="/javascript/carrito.js"></script>
    

</body>

</html>