<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')  %>
<body>
    <%- include('../partials/header.ejs')  %>

    <main class="main-home">
        <img src="/images/technicaldifficulties.png" alt="" class="error-image">
    </main>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>