<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Cart | NoTanRaros</title>
    <link href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    
        <header class="menu">
            <div class="menu-wrap">
                <a href="/">
                <img src="images/logo.png" alt="logo" class="logo-img">
                </a>
                <input type="checkbox" id="checkbox">
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Series</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i><p>Iniciar Sesion</p></a></li>
                        <li><a href="#"><i class="far fa-user-circle"></i><p>Mi Perfil</p></a></li>
                        <li><a href="/cart"><i class="fas fa-shopping-cart"></i><p>Mis Compras</p></a></li>
                        <li><input type="search" class="search" id="search" placeholder="Buscar..."></li>
                    </ul>
                </nav>
                <label for="checkbox">
                    <i class="fa fa-bars menu-icon"></i>
                </label>
            </div>
        </header>

    <main class="cart-main">


        <section>
            <nav class="SubTitle">
                <h1>Carrito</h1>
                <h1>Favoritos</h1>
                <hr class="linea-sup">
            </nav>
           
            <article class="product-container">
                <img src="images/remeraLOL.jpg" alt="Foto remeraLOL">
                <h2>Remera League Of Legends</h2>
                <h3>$2.099</h3>
            </article>
                <div class="contador">
                <input type="number" id="number" value="1" min="1" max="100">
                </div>
                <div class="3-puntos">
                
                </div>
                <hr class="linea">

            <article class="product-container">
                <img src="images/mousePad.jpeg" alt="Foto pantalonG" style="margin-top: 40px;">
                <h2>Mouse Pad Genshin Impact</h2>
                <h3>$1.450</h3>
            </article>
                <div class="contador">
                <input type="number" id="number" value="1" min="1" max="100">
                </div>
                <hr class="linea">

            <article class="product-container">
                <img src="images/collarGOT.jpeg" alt="Foto remeraGOT">
                <h2>Collar Game Of Thones</h2>
                <h3>$2.800</h3>
            </article>
                <div class="contador">
                <input type="number" id="number" value="1" min="1" max="100">
                </div>
                <hr class="linea">

            <article class="product-container">
                <img src="images/cuadroCOD.jpeg" alt="Foto mediasLOL" style="margin-top: 35px;">
                <h2>Cuadro decorativo COD</h2>
                <h3>$3.000</h3>
            </article>
                <div class="contador">
                <input type="number" id="number" value="1" min="1" max="100">
                </div>
            <hr class="linea">

            <button class="boton-compra">Comprar</button>
    </main>
    
    <footer class="main-footer">
        <div class="footer-container">
            <div class="footer-1">
                <h2>©2021 NoTanRaros</h2>
                <div>
                    <a href="">Home | </a>
                    <a href="">Productos | </a>
                    <a href="">Series | </a>
                    <a href="">Contacto</a>
                </div>
            </div>
            <div class="footer-2">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
            <div class="footer-3">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-reddit"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>
    

</body>

</html>