<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | NoTanRaros</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
    <header class="menu">
        <div class="menu-wrap">
            <a href="/">
            <img src="images/logo.png" alt="logo" class="logo-img">
            </a>
            <input type="checkbox" id="checkbox">
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Series</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#"><i class="fas fa-sign-in-alt"></i><p>Iniciar Sesion</p></a></li>
                    <li><a href="#"><i class="far fa-user-circle"></i><p>Mi Perfil</p></a></li>
                    <li><a href="#"><i class="fas fa-shopping-basket"></i><p>Mis Compras</p></a></li>
                    <li><input type="search" class="search" id="search" placeholder="Buscar..."></li>
                </ul>
            </nav>
            <label for="checkbox">
                <i class="fa fa-bars menu-icon"></i>
            </label>
        </div>
    </header>

    <main class="main-home">
        <div class="banner-container">
            <img src="images\slide-1635762193244-1631002001-b3ab68ecc74be1ebaed0d8fc383c76871635762205-1920-1920.jpg" alt="banner" class="banner">
        </div>
        <hr>
        <h1 class="titulo-ofertas">Ofertas</h1>
        <hr>
        <div class="ofertas-home">

            <article class="oferta">
                <div class="container-foto-oferta">
                    <img src="images\TS809ANGE_1copy_large.png" alt="" class="foto-oferta">
                    <hr>
                </div>
                <div class="datos-oferta">
                    <a href="#"> <h2 class="titulo-oferta">Remera Evangelion Eva-01 Blanca</h2></a>
                    <h2 class="precio-oferta">$2.000</h2>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </article>

            <article class="oferta">
                <div class="container-foto-oferta">
                    <img src="images\TS7XSMDBZ_1copy_large.png" alt="" class="foto-oferta">
                    <hr>
                </div>
                <div class="datos-oferta">
                    <a href="#"> <h2 class="titulo-oferta">Remera Freezer Dragon Ball Rosa</h2></a>
                    <h2 class="precio-oferta">$2.000</h2>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </article>

            <article class="oferta">
                <div class="container-foto-oferta">
                    <img src="images\TSM0KAEONP_front_large.png" alt="" class="foto-oferta">
                    <hr>
                </div>
                
                <div class="datos-oferta">
                    <a href="#"> <h2 class="titulo-oferta">Remera Monkey Luffy One Piece Negra</h2></a>
                    <h2 class="precio-oferta">$3.000</h2>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </article>

            <article class="oferta">
                <div class="container-foto-oferta">
                    <img src="images\TS5FBFDBZ_large.png" alt="" class="foto-oferta">
                    <hr>
                </div>
                <div class="datos-oferta">
                    <a href="#"> <h2 class="titulo-oferta">Remera Vegetta Dragon Ball Negra</h2></a>
                    <h2 class="precio-oferta">$2.000</h2>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </article>

            <article class="oferta">
                <div class="container-foto-oferta">
                    <img src="images\Akatsuki-Sneakers-Custom-Jutsu-It-Anime-Naruto-Shoes-gearanime_4e7e914e-9faa-4aa9-8087-209eda370690_650x.jpg" alt="" class="foto-oferta">
                    <hr>
                </div>
                
                <div class="datos-oferta">
                    <a href="#"> <h2 class="titulo-oferta">Zapatillas Custom Akatsuki Jutsu It</h2></a>
                    <h2 class="precio-oferta">$20.000</h2>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </article>

            <article class="oferta">
                <div class="container-foto-oferta">
                    <img src="images\Naruto-Bijuu-Mode-High-Top-Shoes-Custom-Anime-Sneakers-gearanime_420x.jpg" alt="" class="foto-oferta">
                    <hr>
                </div>
                
                <div class="datos-oferta">
                    <a href="#"><h2 class="titulo-oferta">Converse Custom Naruto Bijuu Mode</h2></a>
                    <h2 class="precio-oferta">$3.000</h2>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </article>

            <article class="oferta">
                <div class="container-foto-oferta">
                    <img src="images\878874.5a1.e0c09S7YyNAAA-450x450-b-p.png" alt="" class="foto-oferta">
                    <hr>
                </div>
                
                <div class="datos-oferta">
                    <a href="#"><h2 class="titulo-oferta">Hoodie OnePunchMan Okay Negro</h2></a>
                    <h2 class="precio-oferta">$7.000</h2>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </article>

            <article class="oferta">
                <div class="container-foto-oferta">
                    <img src="images\1338471.5d8.0d478S7YyNAAA-450x450-b-p.png" alt="" class="foto-oferta">
                    <hr>
                </div>
                
                <div class="datos-oferta">
                    <a href="#"> <h2 class="titulo-oferta">Hoodie "This World Shall Know Pain"</h2></a>
                    <h2 class="precio-oferta">$7.000</h2>
                    <span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </article>

        </div>

        <hr>
        <h2 class="titulo-destacadas">Series Destacadas</h2>
        <hr>

        <div class="series-destacadas">
            <article class="destacada">
                <div class="container-foto-destacada">
                    <img src="images\naruto_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>

                <a href="#"><h2 class="titulo-serie">NARUTO</h2></a>

            </article>

            <article class="destacada">
                <div class="container-foto-destacada">
                    <img src="images\one_piece_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>

                <a href="#"><h2 class="titulo-serie">ONE PIECE</h2></a>

            </article>

            <article class="destacada">
                <div class="container-foto-destacada">
                    <img src="images\demon_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>

                <a href="#"><h2 class="titulo-serie">DEMON SLAYER</h2></a>

            </article>

            <article class="destacada">
                <div class="container-foto-destacada">
                    <img src="images\Copy_of_Untitled_3_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>

                <a href="#"><h2 class="titulo-serie">HUNTER X HUNTER</h2></a>

            </article>
        </div>

    </main>

    <footer class="main-footer">
        <div class="footer-container">
            <div class="footer-1">
                <h2>©2021 NoTanRaros</h2>
                <div>
                    <a href="">Home | </a>
                    <a href="">Productos | </a>
                    <a href="">Series | </a>
                    <a href="">Contacto</a>
                </div>
            </div>
            <div class="footer-2">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
            <div class="footer-3">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-reddit-square"></i></a>
                <a href="#"><i class="fab fa-whatsapp-square"></i></a>
            </div>
        </div>
    </footer>

</body>

</html>