<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Product | NoTanRaros</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="body">
    <header class="menu">
        <div class="menu-wrap">
            <a href="/">
            <img src="images/logo.png" alt="logo" class="logo-img">
            </a>
            <input type="checkbox" id="checkbox">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Series</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i><p>Iniciar Sesion</p></a></li>
                    <li><a href="#"><i class="far fa-user-circle"></i><p>Mi Perfil</p></a></li>
                    <li><a href="/cart"><i class="fas fa-shopping-basket"></i><p>Mis Compras</p></a></li>
                    <li><input type="search" class="search" id="search" placeholder="Buscar..."></li>
                </ul>
            </nav>
            <label for="checkbox">
                <i class="fa fa-bars menu-icon"></i>
            </label>
        </div>
    </header>

    <main class="main">
        <div class="ruta">
            <ul>
                <li><a href="">Naruto ></a></li>
                <li><a href="">Zapatillas ></a></li>
                <li><a href="">Zapatillas Akatsuki Nike SB ></a></li>
            </ul>
        </div>

        <article class="card">
            <hr>
            <div class="main-photo-container">
                <img src="images/Akatsuki-Sneakers-Custom-Jutsu-It-Anime-Naruto-Shoes-gearanime-2_fabfb40d-d07d-4408-b091-bf85800eaefe_650x.jpg"
                alt="Foto 1" class="photo-1">
            </div>
            <hr>
            <div class="photos">
                <img src="images/Akatsuki-Sneakers-Custom-Jutsu-It-Anime-Naruto-Shoes-gearanime-2_fabfb40d-d07d-4408-b091-bf85800eaefe_650x.jpg"
                    alt="Foto 1" class="div-photo-1">
                <img src="images/Akatsuki-Sneakers-Custom-Jutsu-It-Anime-Naruto-Shoes-gearanime_4e7e914e-9faa-4aa9-8087-209eda370690_650x.jpg"
                    alt="images/Foto 2" class="div-photo-2">
                <img src="images/Akatsuki-Sneakers-Custom-Jutsu-It-Anime-Naruto-Shoes-gearanime-3_2d432cfd-4186-4d30-a1a6-38008e6722de_650x.jpg"
                    alt="Foto 3" class="div-photo-3">
                <img src="images/Akatsuki-Sneakers-Custom-Jutsu-It-Anime-Naruto-Shoes-gearanime-4_b9219227-f338-4f42-be9f-7b6e938e37b6_650x.jpg"
                    alt="Foto 4" class="div-photo-4">
            </div>
            <hr>
            <h1 class="product-name"> Zapatillas Akatsuki Custom Jutsu It | Naruto</h1>
            <hr>
            <div class="product-info">
                <small class="stock">En Stock</small>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                
            </div>
            <hr>
            <div class="precio-producto">
                <h2>$20.000</h2>
            </div>
            <hr>
            <div class="input-container">
                <label for="talle" class="talle">Seleccione un talle:</label>
                <select name="talle" class="input-select" id="talle">
                    <option value hidden selected>Talle</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                </select>
                <label for="cantidad" class="cantidad">Seleccione cantidad:</label>
                <select name="cantidad" class="input-select" id="cantidad">
                    <option value hidden selected>Cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <div class="opciones-compra">
                    <button class="comprar-ahora">Comprar Ahora</button>
                    <button class="agregar-al-carro">Agregar al Carrito</button>
                </div>

                <div class="descripcion">
                    <h2 class="titulo-descripcion">Descripción del Artículo</h2>
                    <hr>
                    <p class="texto-descripcion"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        veritatis veniam aliquid corporis, iste consequatur labore. Rerum similique exercitationem
                        possimus iste laboriosam aspernatur placeat ratione illum, in, ab qui. Saepe ea dolor sint eius
                        sapiente quod consectetur iste, debitis voluptate dolorem harum veritatis, officia error odit
                        autem sequi totam minima ipsum quisquam recusandae eveniet? Ullam pariatur culpa consectetur,
                        aut totam, velit natus ipsa qui amet dolorum beatae eligendi voluptatem. Incidunt maiores
                        explicabo facere libero? Atque ipsa voluptates ex sint explicabo. Voluptatem deserunt, accusamus
                        fuga voluptatum beatae aliquid facilis? Sed porro cumque dignissimos, esse quia unde assumenda
                        quo a quas, voluptas doloribus velit distinctio nemo nulla aliquam. Facilis, corrupti esse, a
                        consequuntur nulla adipisci recusandae odit natus sit reiciendis ratione earum eius asperiores
                        exercitationem mollitia amet labore quidem? Temporibus architecto nemo quod esse labore eum iure
                        officia ipsa voluptatibus hic ullam veniam laboriosam, ipsum, laborum doloribus molestiae
                        expedita, consectetur omnis inventore ab! Fugit magnam error distinctio libero amet alias
                        voluptatem? Quisquam, eius vero facilis voluptatum libero in. Quis nulla aspernatur asperiores
                        molestiae laboriosam ad reprehenderit atque maxime quisquam ullam magni animi quae et totam
                        earum ex corrupti labore tenetur, blanditiis odit laborum optio quas! Unde repellendus error
                        quas dolore sequi laborum.</p>
                </div>

            </div>
        </article>

    </main>

    <footer class="main-footer">
        <div class="footer-container">
            <div class="footer-1">
                <h2>©2021 NoTanRaros</h2>
                <div>
                    <a href="">Home | </a>
                    <a href="">Productos | </a>
                    <a href="">Series | </a>
                    <a href="">Contacto</a>
                </div>
            </div>
            <div class="footer-2">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
            <div class="footer-3">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-reddit-square"></i></a>
                <a href="#"><i class="fab fa-whatsapp-square"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>