<header class="menu">
    <div class="menu-wrap">
        <a href="/">
        <img src="images/logo.png" alt="logo" class="logo-img">
        </a>
        <input type="checkbox" id="checkbox">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Series</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="/login"><i class="fas fa-sign-in-alt"></i><p>Iniciar Sesion</p></a></li>
                <li><a href="#"><i class="far fa-user-circle"></i><p>Mi Perfil</p></a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i><p>Mis Compras</p></a></li>
                <li><input type="search" class="search" id="search" placeholder="Buscar..."></li>
            </ul>
        </nav>
        <label for="checkbox">
            <i class="fa fa-bars menu-icon"></i>
        </label>
    </div>
</header>